*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
#div1
{
    height: 730px;
    width: 35%;
    border:1px solid black;
    
}
#div2
{   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 730px;
    width: 65%;
    border:1ps solid black;
    background-color: rgb(110, 65, 5);
    grid-template-columns: auto auto;
    padding: 2px;
    margin: 2px;
    gap: 10px;

}
#main-div
{
    display: flex;
    background-color: rgb(240, 233, 233);
}
.div2-1
{
    height: 320px;
    width: 420px;
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 35px;
    box-shadow: 2px 2px 2px gray;
    
    
}
#color
{
    color: rgb(0, 255, 0);
}
.div2-1:hover #color
{
  color: rgb(0, 255, 0);
  transition: 0.5s;
}

.div2-1:hover
{
   width: 450px;
   height: 350px;
   background-color: rgb(240, 22, 7);
   border-radius: 10px;
   transform: rotate(2.5deg);
}
.div2-1:hover span
{
    color: yellow;
    transition: 0.5s;
}
